body,html {
    height: 100%;
    margin: 0;
}
::placeholder {
    color: black;
}
:focus {
    outline: none;
}
* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
  }
.bg-image {
    background-image: url("../img/city-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 485px;
  width: 600px;
  background-color: white;
  border-radius: 4px;

}
.form-label {
    font-weight: bold;
}
.form-input {
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
}
.form-submit {
    width: 300px;
    height: 37px;
    background-color: #9145B6;
    border: none;
    border-radius: 4px;
    color: white;
}
.sign-up-link {
    text-decoration: none;
}
.button:hover {
    background-color: #B958A5;
}